# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## FRONT END
front-end/package-lock.json
front-end/yarn.lock

# dependencies
front-end/node_modules/
/.pnp
.pnp.js

# testing
front-end/coverage

# production
front-end/build/
front-end/dist/

# misc
.DS_Store
front-end/.env
front-end/.env.local
front-end/.env.development.local
front-end/.env.test.local
front-end/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


## BACKEND
back-end/node_modules/
back-end/.env
back-end/package-lock.json